In [1]:
from dotenv import load_dotenv
import requests
load_dotenv()
import os
import geopandas as gpd
import pandas as pd
import fiona

from shapely.geometry import MultiPoint
from shapely.ops import nearest_points

/home/jorge-alamillos/.local/lib/python3.8/site-packages/geopandas/_compat.py:84: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  warnings.warn(

In [2]:
def get_coordinates(address):
    key = os.getenv('GOOGLEAUTH')
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='
    rqst  = requests.get(url + address + '&key=' + key)    
    datos = rqst.json()
    location = datos['results'][0]['geometry']['location']
    print(url + address + '&key=' + key)
    return location
x = get_coordinates("calle alvarado madrid")

https://maps.googleapis.com/maps/api/geocode/json?address=calle alvarado madrid&key=AIzaSyDcDDwO5ArpyjJwAxZfUv977Burjjm2ciQ

In [3]:
def coordintes2gdf(x):
    geo = gpd.GeoDataFrame({'lat': [x["lat"]], 'lng': [x["lng"]]})
    gdf = gpd.GeoDataFrame(geo, geometry=gpd.points_from_xy(geo.lng, geo.lat),crs="EPSG:4326")
    return gdf.to_crs("EPSG:4326")

coord = coordintes2gdf(x)
coord

         lat       lng                   geometry
0  40.450694 -3.704826  POINT (-3.70483 40.45069)

In [4]:
def read_pisos():
    return pd.read_csv("outputs/TablaInmueblesyEstadisticas_1_csv.csv",delimiter=";")
pisos = read_pisos()

In [5]:
geopisos = gpd.GeoDataFrame(pisos)
geopisos = gpd.GeoDataFrame(geopisos, geometry=gpd.points_from_xy(geopisos.long, geopisos.lat),crs="EPSG:4326")
geopisos.head(1)

,id,m²,rooms,baths,floor,price,pricearea,renewal,new,lift,...,pol.nac,bomberos,autobuses,metro,farmacias,hospitales,centrossalud,centrosensenanza,colegiospublicos,geometry
0,21742,64,2,1,3,85000,1328,0,0,0,...,0,0,17,3,5,0,1,0,3,POINT (-3.68897 40.34288)

In [6]:
x = nearest_points(MultiPoint(geopisos["geometry"]),coord["geometry"][0])

In [7]:
finalpoint = x[0]
print(finalpoint)

POINT (-3.704826 40.450694)

In [8]:
X = finalpoint.x
Y = finalpoint.y
print(X,Y)

-3.704826 40.450694

In [9]:
z = geopisos.nombredistrito[geopisos["geometry"]==finalpoint].head(1).to_string(index=False).lstrip()
z

'Bellas Vistas'

In [10]:
#z = geopisos.codbarrio[geopisos["geometry"]==finalpoint].to_string(index=False).lstrip()
#z

In [11]:
r = geopisos[geopisos["nombredistrito"]==z].groupby(["nombredistrito"]).mean()
int(r.pricearea)

3707