In [9]:
import pandas as pd
from dotenv import load_dotenv
import requests
load_dotenv()
import os
import geopandas as gpd
import pandas as pd
import fiona

/home/jorge-alamillos/.local/lib/python3.8/site-packages/geopandas/_compat.py:84: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  warnings.warn(

In [41]:
def get_coordinates(address):
    key = os.getenv('GOOGLEAUTH')
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address='
    rqst  = requests.get(url + address + '&key=' + key)    
    datos = rqst.json()
    location = datos['results'][0]['geometry']['location']
    print(url + address + '&key=' + key)
    return location
a = get_coordinates("ironhack madrid")

https://maps.googleapis.com/maps/api/geocode/json?address=ironhack madrid&key=AIzaSyDcDDwO5ArpyjJwAxZfUv977Burjjm2ciQ

In [42]:
a

{'lat': 40.3925046, 'lng': -3.698276299999999}

In [43]:
def coordintes2gdf(x):
    geo = gpd.GeoDataFrame({'lat': [x["lat"]], 'lng': [x["lng"]]})
    gdf = gpd.GeoDataFrame(geo, geometry=gpd.points_from_xy(geo.lng, geo.lat),crs="EPSG:4326")
    return gdf.to_crs("EPSG:4326")
b = coordintes2gdf(a)
b

         lat       lng                   geometry
0  40.392505 -3.698276  POINT (-3.69828 40.39250)

In [44]:
def read_barrios():
    barrios = gpd.read_file("BARRIOS.shp")
    return barrios.to_crs("EPSG:4326")

c = read_barrios()

In [45]:
def get_barrio(coord,barrios):
    return gpd.sjoin(coord, barrios, how="left", op='within') 

d = get_barrio(b,c)
d

,lat,lng,geometry,index_right,OBJECTID,geodb_oid,CODDIS,NOMDIS,CODBAR,CODDISTRIT,CODBARRIO,NOMBRE,ORIG_FID
0,40.392505,-3.698276,POINT (-3.69828 40.39250),30,9,9,02,Arganzuela,023,02,2-3,Chopera,8

In [56]:
e = pd.read_csv("TablaInmueblesyEstadisticas_1_csv.csv",delimiter=";")
e[e["NOMBRE"]=="Chopera"]

KeyError: 'NOMBRE'

In [53]:
def get_punt(barrio,barr_punt):
    distrito = barrio["NOMBRE"].to_string(index=False).lstrip()
    x = barr_punt[barr_punt["nombredistrito"]==distrito]
    return distrito, x
get_punt(d,e)

('Chopera',
 Empty DataFrame
 Columns: [id, m², rooms, baths, floor, price, pricearea, renewal, new, lift, exterior, parking, lat, long, nombredistrito, codbarrio, codditstrito, nombredistrito.1, supermercados, Pol.local, pol.nac, bomberos, autobuses, metro, farmacias, hospitales, centrossalud, centrosensenanza, colegiospublicos]
 Index: []

 [0 rows x 29 columns])

In [50]:
e[e["nombredistrito"]=="Chopera"]

Empty DataFrame
Columns: [id, m², rooms, baths, floor, price, pricearea, renewal, new, lift, exterior, parking, lat, long, nombredistrito, codbarrio, codditstrito, nombredistrito.1, supermercados, Pol.local, pol.nac, bomberos, autobuses, metro, farmacias, hospitales, centrossalud, centrosensenanza, colegiospublicos]
Index: []

[0 rows x 29 columns]